.python_packages
.vscode
.pyupdater
archive/.exclude
pyu-data

# setuptools
build
dist
src
target
*.egg-info

guesttracker/_unencrypted

.DS_Store
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

*.xlsm
guesttracker/_resources/secret
SMS.zip
guesttracker/_resources/csv/avail_email.csv
avail.html
html_out.html
guesttracker/_resources/csv/fleet_monthly_report_email.csv
run.spec
_info/utils/generate-iconset.py
pyu.log
guesttracker/utils/onedrive.py
report.docx
report.html
docs/_build
# jgutils
tracker.db
tracker.sqlite
Thumbs.db